/******************** DRINKS ********************/
.header-column {
    float: left;
    margin: 8px;
}
.header-wrapper {
    display: flex;
    align-items: center;
}
.pump-row-input, .pump-profile, .pump-row-save, .pump-row-edit, .pump-row-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
}
.ingredient-input {
    -webkit-appearance: none;
    padding: 0px;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    opacity: 0;
}
.ingredient-input-wrapper {
    border-radius: 50%;
    background-color: black;
    box-shadow: 2px 2px 5px grey;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 0px;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: content;
    border: 1px solid #888888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
#create-ingredient-modal-content {
    top: 30vh;
    left: 30vw;
    width: 40vw;
}
.modal-header {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-close {
    color: #aaaaaa;
    float: right;
    top: 0px;
    padding: 0px 10px;
    font-size: 28px;
    font-weight: bold;
  }  
.modal-close:hover, .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

select {
    width: 40%;
    font-size: 18px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #888888;
}
.drink-ingredient-create {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.recipe-ingredient-select {
    margin: 10px;
}
.recipe-ingredient-amount {
    margin: 10px;
}
.drink-display {
    position: relative;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 5px #000000aa;
}
.drink-display-icon {
    position: absolute;
    bottom: 0px;
    left: 150px;
}
#view {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
}
#drink-container {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100vw;
    height: calc(100vh - 160px);
}
#pump-picker {
    margin-right: 0px;
    height: 90vh;
    min-height: 90vh;
    width: 250px;
    background-color: #eeeef2;
    position: absolute;
    right: -250px;
    top: 0px;
    z-index: 5;
}
#pump-picker.open {
    right: 0px;
    animation-name: pumppickeropen;
    animation-duration: 0.2s;
}
#pump-picker.closed {
    right: -250px;
    animation-name: pumppickerclose;
    animation-duration: 0.2s;
}
@keyframes pumppickeropen {
    from {right: -250px;}
    to {right: 0px;}
}
@keyframes pumppickerclose {
    from {right: 0px;}
    to {right: -250px;}
}
#pumppicker-toggle {
    display: flex;
}
#header-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #eeeef2;
   margin: 0px;
   width: 100vw;
   max-height: 15vh;
}
#header-bar.open {
    width: calc(100vw - 250px);
    animation-name: headerbaropen;
    animation-duration: 0.2s;
}
#header-bar.closed {
    width: 100vw;
    animation-name: headerbarclose;
    animation-duration: 0.2s;
}
@keyframes headerbaropen {
    from {width: 100vw;}
    to {width: calc(100vw - 250px);}
}
@keyframes headerbarclose {
    from {width: calc(100vw - 250px);}
    to {width: 100vw;}
}

#footer-bar {
    height: 10vh;
    width: 100vw;
    position: absolute;
    background-color: #eeeef2;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#current-drink-container {
    background-color: #ffffff;
    padding: 0px 25px 0px 25px;
    border-radius: 2px;
}
#make-drink {
    float: right;
    width: 40%;
}